@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>
    <strong>Email:</strong> @ViewData["Email"]
</p>

<address>
    <strong>More information: </strong><a href="http://github.com/marcopandolfo">GitHub</a>
</address>
